<div class="login-container">
  <div class="login-card">
    <h2>Cyclops <br> Identity Provider</h2>
    <p>Not a member? <a (click)="onSignUp()">Sign-Up Now</a></p>

    <div class="login-content">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <!-- USERNAME =================================== -->
        <div class="input-group">
          <p-iconfield class="field-with-icon">
            <p-inputicon>
              <i class="pi pi-user"></i>
            </p-inputicon>
            <input type="text" formControlName="username" placeholder="Enter username" required />
          </p-iconfield>
          <div class="login-form-err">
            @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
            <p-message severity="error" size="small">
              @if (loginForm.get('username')?.hasError('required')) {
              Username is required
              }
            </p-message>
            }
          </div>
        </div>

        <!-- PASSWORD =================================== -->
        <div class="input-group">
          <p-iconfield class="field-with-icon field-with-toggle">
            <p-inputicon>
              <i class="pi pi-lock"></i>
            </p-inputicon>
            <input [type]="password_type()" formControlName="password" placeholder="Enter password" required />
            <p-inputicon (click)="change_type()">
              <i class="pi" [class.pi-eye]="password_type() === 'password'"
                [class.pi-eye-slash]="password_type() === 'text'"></i>
            </p-inputicon>
          </p-iconfield>
          <div class="login-form-err">
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <p-message severity="error" size="small">
              @if (loginForm.get('password')?.hasError('required')) {
              Password is required
              }
            </p-message>
            }

          </div>
        </div>

        <p-button class="submit-btn" type="submit" [disabled]="loginForm.invalid">
          Sign In
        </p-button>
      </form>
    </div>
  </div>
</div>